<!doctype html>
<html lang="zxx">

<head>
{% load static %}
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WKF9GM65');</script>
<!-- End Google Tag Manager -->
    <!--========= Required meta tags =========-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Centro Moderne - Ilumine seus caminhos para o sucesso</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="images/x-icon"/>

    <!-- css include -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'css/imageRevealHover.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKF9GM65"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- backtotop - start -->
    <div class="">
        <a href="https://wa.me/557399180037" target="_blank" class="scroll-whatsapp">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
    <!-- backtotop - end -->

    <!-- preloader start -->
    <div id="xb-loadding" class="xb-loadding-container">
        <div class="xb-loader">
            <div class="xb-loadding-inner">
                <img src="{% static 'img/logo/preloader.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- preloader end -->

    <div class="container">
        <div class="line_wrap">
            <div class="xb-line"></div>
        </div>
    </div>

    <div class="body_wrap">

    <!-- header start -->
    <header id="xb-header-area" class="header-area header-style-one is-sticky">
        <div class="xb-header">
            <div class="container">
                <div class="header__wrap ul_li_between">
                    <div class="header-logo">
                        <a href=""><img src="{% static 'img/logo/logo.svg' %}" alt=""></a>
                    </div>
                    <div class="main-menu__wrap ul_li navbar navbar-expand-lg">
                        <nav class="main-menu collapse navbar-collapse">
                            <ul>
                                <li>
                                    <a href=""><span>Ínicio</span></a>
                                </li>
                                <li>
                                    <a href="courses"><span>Cursos</span></a>
                                </li>
                                <li>
                                    <a href="contact"><span>Contato</span></a>
                                </li>
                                <li>
                                    <a href="local"><span>Nosso Espaço</span></a>
                                </li>
                            </ul>
                        </nav>
                        <div class="xb-header-wrap">
                            <div class="xb-header-menu">
                                <div class="xb-header-menu-scroll">
                                    <div class="xb-menu-close xb-hide-xl xb-close"></div>
                                    <div class="xb-logo-mobile xb-hide-xl">
                                        <a href="" rel="home"><img src="{% static 'img/logo/logo.svg' %}" alt=""></a></div>
                                    <div class="xb-header-mobile-search xb-hide-xl">
                                        <form role="search" action="#">
                                            <input type="text" placeholder="Search..." name="s" class="search-field">
                                        </form>
                                    </div>
                                    <nav class="xb-header-nav">
                                        <ul class="xb-menu-primary clearfix">
                                            <li class="menu-item"><a href=""><span>Ínicio</span></a></li>
                                            <li class="menu-item"><a href="courses"><span>Cursos</span></a></li>
                                            <li class="menu-item"><a href="contact"><span>Contato</span></a></li>
                                            <li class="menu-item"><a href="local"><span>Nosso Espaço</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="xb-header-menu-backdrop"></div>
                        </div>
                    </div>
                    <div class="side-menu d-none d-lg-block">
                        <a class="burger-menu" href="javascript:void(0);">
                            <img src="{% static 'img/icon/category.svg' %}" alt="">
                        </a>
                    </div>
                    <div class="header-bar-mobile side-menu d-lg-none">
                        <a class="xb-nav-mobile" href="javascript:void(0);"><img src="{% static 'img/icon/category.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- overlay menu start -->
    <div class="overlay-menu">
        <div class="close">
            <div class="xb-close"></div>
        </div>
        <div class="row overlay-wrap">
            <div class="col-xl-8 col-md-7 left-area">
                <nav>
                    <ul>
                        <li><a href="">Ínicio</a></li>  
                        <li><a href="courses">Cursos</a></li>
                        <li><a href="contact">Contato</a></li>
                        <li><a href="local">Nosso Espaço</a></li>
                    </ul> 
                </nav> 
            </div>
            <div class="col-xl-4 col-md-5 right-area">

                <ul>
                    <li><span class="title">Nosso endereço</span></li>
                    <li><p>Rua Almirante Barroso, 96B - 1 e 2 andar – Centro – Itabuna BA CEP 45.600-290</p></li>
                </ul>
                <ul>
                    <li><span class="title">Entre em contato</span></li>
                    <li>
                        <ul class="social-links">
                            <li><a href="https://wa.me/557399180037" target="_blank">Whatsapp <i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- overlay menu end -->

    <!-- main area start  -->
    <main>
        <!-- breadcrumb start  -->
        <section class="breadcrumb pt-105 pb-90">
            <div class="container">
                <div class="breadcrumb__content text-center">
                    <h2 class="breadcrumb__title">Cursos</h2>
                    <ul class="breadcrumb__list">
                        <li class="breadcrumb-item"><a href="">Ínicio</a></li>
                        <li class="breadcrumb-item">Cursos</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- breadcrumb end  -->

        <!-- about section start  -->
        <section class="about-area pt-110">
            <div class="container">
                <div class="section-title mb-55">
                    <span class="sub-title wow fadeInRight" data-wow-duration=".7s">Nossas formações</span>
                    <h3 class="title xb-split-text split-in-right mb-35">Dê um Upgrade na sua carreira <br> <span>a um nível ainda maior</span></h3>
                    <p class="section-content">Cursos de Especialização, Aperfeiçoamento e Imersão em Medicina, Odontologia e demais áreas da saúde.</p>
                </div>
                <div class="about-img pos-rel">
                    <img src="{% static 'img/about/img02.jpg' %}" alt="">
                    <div class="about-year">
                        <h2 class="xb-odm"><span class="xbo" data-count="11">00</span></h2>
                        <p>Anos de <br>Experiência</p>
                    </div>
                </div>
                <div class="row mt-50">
                    <div class="col-xl-8 offset-xl-4">
                        <p class="section-content section-content-bottom mb-80">Nossos cursos são ministrados pelas maiores referências do mercado odontológico, que impulsionarão seu avanço profissional.</p>
                        <div class="row mt-none-30">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 mt-30">
                                <div class="xb-funfact text-center">
                                    <h3 class="xb-item--number xb-odm"><span class="xbo"
                                            data-count="15">00</span><span class="suffix">+</span></h3>
                                    <h6 class="xb-item--title">Cursos</h6>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 mt-30">
                                <div class="xb-funfact text-center">
                                    <h3 class="xb-item--number xb-odm">
                                    <span class="xbo" data-count="800">00</span>
                                    <span class="suffix">+</span>
                                    </h3>
                                    <h6 class="xb-item--title">Alunos satisfeitos</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about section end  -->

          <!-- services section stat  -->
          <section class="services pt-170 pb-150">
            <div class="container pos-rel">
                <div class="servics-title-box ul_li_between align-items-end mb-35">
                    <div class="section-title mb-30">
                        <span class="sub-title wow fadeInRight" data-wow-duration=".7s">Nossos cursos</span>
                        <h3 class="title xb-split-text split-in-right">Eleve suas capacidades <br> <span>a um outro nível</span></h3>
                    </div>
                    <div class="service-logo mb-30">
                        <img src="{% static 'img/About/ab_logo.jpg' %}" alt="">
                    </div>
                </div>
                <div class="row courses">
   
                </div>
                <div class="service-shape xb-blur"></div>
            </div>
        </section>
        <!-- services section end  -->

    </main>
    <!-- main area end  -->

   <!-- footer strt -->
   <footer class="footer xb-footer-bg bg_img ukiyo" data-u-speed="1.5" data-background="{% static 'img/bg/footer_bg.jpg' %}">
    <div class="xb-footer-wrap pt-120 pb-80">
        <div class="container">
            <div class="xb-footer-inner">
                <div class="xb-footer ul_li pb-75">
                    <div class="row align-items-center mt-none-30">
                        <div class="col-lg-6 col-md-6 mt-30">
                            <a class="circle-btn xb-item--left pos-rel" href="https://wa.me/557399180037" target="_blank">
                                <div class="button__bg"></div>
                                <div class="xb-item--icon">
                                    <img src="{% static 'img/icon/arrow-up-2.svg' %}" alt="">
                                </div>
                                <span class="xb-item--head">Entre em<br/> contato</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-30">
                            <div class="footer-widget xb-item--con">
           
                                <h4 class="widget-title">LINKS  ÚTEIS</h4>
                                <ul class="footer-links">
                                    <li><a href="contact">Contato</a></li>
                                    <li><a href="courses">Cursos</a></li>
                                    <li><a href="https://wa.me/557399180037" target="_blank"><i class="fab fa-whatsapp">&nbsp;</i>Whatsapp</a></li>
                                    <li><a href="https://www.instagram.com/centromoderne/" target="_blank"><i class="fab fa-instagram">&nbsp;</i>Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 mt-30">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="footer-widget">
                                        <h4 class="widget-title">Endereço</h4>
                                        <h3 class="xb-item--content">Rua Almirante Barroso, 96B - 1 e 2 andar – Centro – Itabuna BA CEP 45.600-290
                                        </h3>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom ul_li_between">
                    <div class="copyright">
                        <p>Copyright © 2025 <a href="">Centro Moderne</a>. Todos direitos reservados.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<div id="soon-popup" class="xb-popup" style="display: none;">
  <div class="xb-popup-content">
    <h4>Para saber mais, entre em contato conosco via WhatsApp</h4>
    <div class="xb-popup-buttons">
      <button class="xb-btn xb-btn-close">Fechar</button>
      <a href="https://wa.me/557399180037" class="xb-btn xb-btn-contact" target="_blank">Contato</a>
    </div>
  </div>
</div>

<style>
.xb-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.xb-popup-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
  width: 400px;
  color: #333;
}

.xb-popup-content h4 {
  color: #333 !important; /* Forçando a cor do texto do título */
  margin-bottom: 15px;
}

.xb-popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.xb-btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.xb-btn-close {
  background: #f5f5f5;
  border: 1px solid #ddd;
  color: #333;
}

.xb-btn-close:hover {
  background: #eee;
}

.xb-btn-contact {
  background: #FF7520;
  border: none;
  color: white;
  text-decoration: none;
}

.xb-btn-contact:hover {
  background: #e66a1c;
  color: white;
}
</style>

<script>
  async function getCourses() {
    const response = await fetch('courses.json');
    const data = await response.json();
    return data;
  }

  function renderCourses(courses) {
    return courses.map(course => {
      if(course.soon) {
        return `
        <div class="col-lg-6 mt-30">
          <div class="xb-service-box">
            <div class="xb-item--inner ul_li">
              <div class="xb-item--icon">
                <img src="{% static 'img/icon/srv_06.svg' %}" alt="">
              </div>
              <div class="xb-item--holder">
                <h3 class="xb-item--title">${course.title}</h3>
                <p class="xb-item--content">${course.level}</p>
              </div>
              <span class="xb-item--shape">
                <img src="{% static 'img/icon/soon.png' %}" alt="" style=" position: relative;">
              </span>
              <a class="xb-overlay show-soon-popup" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>
      `
      }
      return `
        <div class="col-lg-6 mt-30">
          <div class="xb-service-box">
            <div class="xb-item--inner ul_li">
              <div class="xb-item--icon">
                <img src="{% static 'img/icon/srv_06.svg' %}" alt="">
              </div>
              <div class="xb-item--holder">
                <h3 class="xb-item--title">${course.title}</h3>
                <p class="xb-item--content">${course.level}</p>
              </div>
              <span class="xb-item--shape">
                <img src="{% static 'img/icon/srv_shape.png' %}" alt="">
              </span>
              <a class="xb-overlay" href="${course.src}"></a>
            </div>
          </div>
        </div>
      `
    }).join('');
  }

  // Função para mostrar o popup
  function showSoonPopup() {
    document.getElementById('soon-popup').style.display = 'flex';
  }

  // Função para esconder o popup
  function hideSoonPopup() {
    document.getElementById('soon-popup').style.display = 'none';
  }

  // Inicializar eventos do popup
  document.addEventListener('DOMContentLoaded', function() {
    // Fechar popup quando clicar no botão fechar
    document.querySelector('.xb-btn-close').addEventListener('click', hideSoonPopup);
    
    // Fechar popup quando clicar fora dele
    document.getElementById('soon-popup').addEventListener('click', function(e) {
      if (e.target === this) {
        hideSoonPopup();
      }
    });
  });

  (async () => {
    const courses = await getCourses();

    const specializationTitles = [
      "Endodontia",
      "Ortodontia",
      "Harmonização Orofacial",
      "Implante dentário com fluxo digital",
      "Odontopediatria",
      "Tripla Certificação (Implante, Prótese e Dentística)"
    ];
    const technicalTitles = [
      "Prótese Dentária (TPD)",
      "AUXILIAR em Saúde Bucal (ASB)"
    ];
    const immersionTitles = [
      "Gestão e formação empresarial na área da saúde e odontologia",
      "Master Facetas"
    ];
    const improvementTitles = [
      "Prótese e Dentística",
      "Cirurgia Oral Menor"
    ];

    // Especialização
    const specializationCourses = courses.filter(c => specializationTitles.includes(c.title));
    // Técnico
    const technicalCourses = courses.filter(c => technicalTitles.includes(c.title));
    // Imersão
    const immersionCourses = courses.filter(c => immersionTitles.includes(c.title));
    // Aperfeiçoamento
    const improvementCourses = courses.filter(c => improvementTitles.includes(c.title));
    
    // Render sections
    let html = '';

    if (specializationCourses.length) {
      html += `<div class="col-12"><h3 class="mb-4">Especialização</h3></div>`;
      html += renderCourses(specializationCourses);
    }
    if (technicalCourses.length) {
      html += `<div class="col-12 mt-5"><h3 class="mb-4">Técnico</h3></div>`;
      html += renderCourses(technicalCourses);
    }
    if (immersionCourses.length) {
      html += `<div class="col-12 mt-5"><h3 class="mb-4">Imersão</h3></div>`;
      html += renderCourses(immersionCourses);
    }
    if (improvementCourses.length) {
      html += `<div class="col-12 mt-5"><h3 class="mb-4">Aperfeiçoamento</h3></div>`;
      html += renderCourses(improvementCourses);
    }

    document.querySelector('.courses').innerHTML = html;

    // Adicionar evento de clique nos cursos em breve após renderizar
    document.querySelectorAll('.show-soon-popup').forEach(element => {
      element.addEventListener('click', showSoonPopup);
    });
  })();
</script>

</div>

<!-- jquery include -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/ScrollSmoother.min.js' %}"></script>
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'js/SplitText.min.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/odometer.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.marquee.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/touchspin.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/imageRevealHover.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/parallax-scroll.js' %}"></script>
<script src="{% static 'js/easing.min.js' %}"></script>
<script src="{% static 'js/scrollspy.js' %}"></script>
<script src="{% static 'js/ukiyo.min.js' %}"></script>
<script src="{% static 'js/lenis.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>

</html>